<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script><!-- vue 사용을 위한 cdn 표시 -->
</head>
<body>
    <div id="app">
        <!-- 버튼을 누르면 showMessage메소드가 호출되어 xyz이벤트가 발생이 되고 핸들러에 붙은대로 처리되어 부모의 메소드printMessage가 호출된다!! -->
        <child-compo @xyz="printMessage"></child-compo> <!-- 자식 component에서 emit을 통해 xyz라는 사건이 발생하면 부모의 printMessage라는 함수가 실행될 것임 -->
        <child-compo2 @abc="printMessage2"></child-compo2>
    </div>

    <script>
        //자식객체
        Vue.component('child-compo',{
            template: '<button @click="showMessage">show first</button>', //이벤트 핸들 메소드는 
            methods:{
                showMessage: function(){
                    this.$emit('xyz'); //"부모에게 전달할" "이름이 'xyz'인 이벤트 발생"시키는 특수한 메소드 emit()
                                        //이 이벤트는 브라우저 Vue의 Events에서 발생되는 것을 확인할 수 있다.
                }
            }
        });
        //'child-compo2', '<button @click="showMessage2">show</button>'
        //showMessage2 : this.$emit('abc')
        Vue.component('child-compo2',{
            template: '<button @click="showMessage2">show second</button>',
            methods:{
                showMessage2: function(){
                    this.$emit('abc');
                }
            }
        })

        //부모객체
        var vm = new Vue({
            el: '#app',
            data:{
                message: 'hello, vue!!!'
            },
            methods:{
                printMessage: function(){
                    console.log('received event!!!');
                },
                printMessage2: function(){
                    console.log('received event2!!!');
                }
            }
        })
    </script>
</body>
</html>