<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.mapper.CustomerMapper">

<!-- myBatis가 이용하는 query문장이 들어 있는 파일
java Mapper에 의해 이용됨.
java Mapper - xml Mapper  - myBatis   
java Mapper안에 있는 메소드 이름과 xml Mapper 안의 query id가 일치해야 함.
-->

<!-- 리절트 맵 정의. primary key 컬럼은 id 태그로 표시해줌 
select 한 후의 결과 처리를 위한 태그(vo 사용)-->
   <resultMap id="CustomerResult"  type="Customer">
   	<id column="num" property="num"/>
   	<result column="name" property="name"/>
   	<result column="address" property="address"/>   		
   </resultMap>    

  <select id="selectAll" resultMap="CustomerResult">
  	select * from customer order by num  
  </select>
  
  <select id="selectOne" resultType="Customer" parameterType="String" >
  	select * from customer where num = #{c} 
  </select>
  
  <insert id="insert" parameterType="Customer">
  	insert into customer values(#{num}, #{name}, #{address})
  </insert>
  
  <delete id="delete" parameterType="String">
  	delete customer where num = #{num}
  </delete>
  
  <select id="findByAddress" resultMap="CustomerResult" parameterType="String">
  	select * from customer where address = #{address}
  </select>
  
</mapper>








